<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" type="text/css" href="/styles/header-nav.css" />
        <link rel="stylesheet" type="text/css" href="/styles/style.css" />
        <script src="https://kit.fontawesome.com/6d24a5dd74.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="barra">
                <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">

                    <p> espacio para busqueda</p>    

                <div><i class="fa-solid fa-credit-card"></i> Compra en cuotas y sin tarjeta de crédito</div>
            </div>
                

                <nav id="nav-bar">
                <ul>
                    <li><a href="">Ofertas </a></li>
                    <li><a href="">Tiendas oficiales </a></li>
                    <li><a href="">Vender </a></li>
                    <li><a href=""> Ayudar</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i id="ico-nav-menu" class="fas fa-bars"></i>
            </div>
        </header>
        <main>
            <section>
                <h2>Basado en tu ultima vista</h2>
                <article>
                    <img src="images/img-cafetera-moulinex.jpg"alt="cafetera moulinex" class="icono">
                    <div class="articulo">
                        <i id="ico-envio" class="fa-solid fa-truck"></i>
                        <div>
                            <p class="precio">$ 6770</p>
                            <p class="descripcion"> $40% OFF</p>
                        </div>

                        <p> Cafetera Moulinex</p>
                    </div>
                </article>

                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook pro 2019" class="icono">
                    <div class="articulo">
                        <i id="ico-envio" class="fa-solid fa-truck"></i>
                        <div> 
                            <p class="precio">$ 230000</p>
                            <p class="descripcion">20% OFF</p>
                        </div>

                        <p>MacBook Pro 2019</p>
                    </div>
                </article>

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy" class="icono">
                    <div class="articulo">
                        <i id="ico-envio" class="fa-solid fa-truck"></i>
                        <div>
                            <p class="precio">$ 70500</p>
                            <p class="descripcion">10% OFF</p>
                        </div>
                        <p>Samsung Galaxy S10</p>
                    </div>
                </article>

                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="smart tv samsung" class="icono">
                    <div class="articulo">
                        <i id="ico-envio" class="fa-solid fa-truck"></i>
                        <div>
                            <p class="precio">$ 23200</p>
                            <p class="descripcion">5% OFF</p>
                        </div>
                        <p>SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section> <!-- FIN SECCION 1 -->

           
            <section>
                <h2>Ofertas</h2>
                <article>
                    <img src="images/img-cafetera-moulinex.jpg"alt="cafetera moulinex" class="icono">
                    <div class="articulo"> 
                        <i id="ico-envio" class="fa-solid fa-truck"></i>
                        <div>
                            <p class="precio">$ 6770</p>
                            <p class="descripcion"> $40% OFF</p>
                        </div>
                        <p> Cafetera Moulinex</p>
                    </div>
                </article>

                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook pro 2019" class="icono">
                    <div class="articulo"> 
                        <i id="ico-envio" class="fa-solid fa-truck"></i>
                        <div>
                            <p class="precio">$ 230000</p>
                            <p class="descripcion">20% OFF</p>
                        </div>
                        <p>MacBook Pro 2019</p>
                    </div>
                </article>

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy" class="icono">
                    <div class="articulo"> 
                        <i id="ico-envio" class="fa-solid fa-truck"></i>
                        <div>
                            <p class="precio">$ 70500</p>
                            <p class="descripcion">10% OFF</p>
                        </div>
                        <p>Samsung Galaxy S10</p>
                    </div>
                </article>

                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="smart tv samsung" class="icono">
                    <div class="articulo"> 
                        <i id="ico-envio" class="fa-solid fa-truck"></i>
                        <div>
                            <p class="precio">$ 23200</p>
                            <p class="descripcion">5% OFF</p>
                        </div>
                        <p>SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
        </main>

        <footer>
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h3> Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h3> Seguridad, de principio a fin </h3>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <section>Copyright © 1999-2020 MercadoLiebre S.R.L.</section>

        </footer>
    </body>
</html>