<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" type="text/css" href="/styles/header-nav.css" />
        <link rel="stylesheet" type="text/css" href="/styles/style.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login-register.css" />
        <script src="https://kit.fontawesome.com/6d24a5dd74.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="barra">
                <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">

                <form action="buscar" method="post" id="form-nav" style="display: flex;">
                    <input type="text" name="busqueda" id="busqueda" placeholder="Buscar...">
                    <button id ="btn-busqueda" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

                </form>   

                <div><i class="fa-solid fa-credit-card"></i> Compra en cuotas y sin tarjeta de crédito</div>
            </div>
                <nav id="nav-bar">
                <ul>
                    <li><a href="/home#ofertas">Ofertas </a></li>
                    <li><a href="">Tiendas oficiales </a></li>
                    <li><a href="">Vender </a></li>
                    <li><a href=""> Ayudar</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i id="ico-nav-menu" class="fas fa-bars"></i>
            </div>
        </header>
        <main>
            <section id="formulario">
                <form action="login" method="post">
                    <h2 style="text-align:center;"> Ingresar <i class="fa-solid fa-right-to-bracket"></i></h2>
                    <br>
                    <label for="nombre">Nombre de usuario</label><br>
                    <input type="text" name="nombre" id="nombre"minlength="3" required style="width: 100%;"><br>

                    <label for="perfil">Contraseña</label><br>
                    <input type="password" id="pass" name="password" minlength="8" required style="width: 100%;">
                    <button id ="btn-login" type="submit" style="width:100%;margin: 20px 0px;">Ingresar</button>

                </form>
            </section>
        </main>
        <footer>
            <div>
                <section>
                    <i class="fa-solid fa-credit-card"></i>
                    <h3> Paga con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </section>
                <section>
                    <i class="fa-solid fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </section>
                <section>
                    <i class="fa-solid fa-user-shield"></i>
                    <h3> Seguridad, de principio a fin </h3>
                    <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </section>
            </div>
            
            <section>Copyright © 1999-2020 MercadoLiebre S.R.L.</section>
        </footer>
    </body>
</html>